{%extends 'pythonshop/base.html'%}
{%load static%}
{% block banner-slider %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{%static 'pythonshop/images/banner/b1.jpg' %}" class="d-block w-100" alt="..." height="500">
      </div>
      <div class="carousel-item">
        <img src="{%static 'pythonshop/images/banner/b2.jpg' %}" class="d-block w-100" alt="..." height="500">
      </div>
      <div class="carousel-item">
        <img src="{%static 'pythonshop/images/banner/b3.jpg' %}" class="d-block w-100" alt="..." height="500">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{%endblock banner-slider%}
{% block main-content %}
<div class="row mt-3 mb-5">
  {% for product in products %}
    <div class="col-lg-3">
        <img class="thumbnail w-100" src="{{product.ImageURL}}"/>
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <button data-product={{product.id}} data-action = "add" class="btn btn-outline-secondary add-btn update-cart"><i class="fas fa-shopping-cart" style="margin-right: 5px ; margin-left: 0px"></i> Add To Cart</button>
            <a class="btn btn-outline-success ml-2" href="#">Detail</a>
            <h3 style="display: inline-block; float: right"><strong>${{product.price|floatformat:0}}</strong></h3>
        </div>
    </div>
  {% endfor %}
</div>
{% endblock main-content %}