{%extends 'pythonshop/base.html'%}
    {%block search%}
    <div class="row mt-3 mb-5">
        {% for product in products %}
          <div class="col-lg-3">
              <img class="thumbnail w-100" src="{{product.ImageURL}}"/>
              <div class="box-element product">
                  <h6><strong>{{product.name}}</strong></h6>
                  <button data-product={{product.id}} data-action = "add" class="btn btn-outline-secondary add-btn update-cart"><i class="fas fa-shopping-cart" style="margin-right: 5px ; margin-left: 0px"></i> Add To Cart</button>
                  <a class="btn btn-outline-success ml-2" href="#">Detail</a>
                  <h3 style="display: inline-block; float: right"><strong>${{product.price|floatformat:0}}</strong></h3>
              </div>
          </div>
        {% endfor %}
      </div>
      {%if not products%}
      <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Product not found.</p>
            <p class="lead">
                No products were found
              </p>
            <a href="{%url 'home'%}" class="btn btn-primary">Go Home</a>
        </div>
    </div>
      {%endif%}
    {%endblock search%}